<!doctype html>
<html lang="en-US">
  <title>
    abhchand.me | calendar
  </title>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- SEO -->
    <meta name="title" content="abhchand.me | calendar" />
    <meta name="description" content="Calendar of abhchand">
    <meta name="author" content="abhchand">
    <meta property="og:image" content="https://abhchand.me/assets/images/me/profile-thumb.jpg" />
    <meta name=”robots” content="noindex, nofollow">

    <!-- CSS -->
    <style>
      body {
        font-family: 'Verdana',sans-serif;
        font-size: 16px;
      }

      .heading {
      }

      .subheading {
        margin-bottom: 50px;
      }

      .calendar {
        width: 100%;
      }

      .calendar .header {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        height: 25px;
        margin-top: 7px;
        padding-left: 40px;
        margin-bottom: 7px;
      }

      .calendar .header .day {
        font-weight: 700;
        color: white;
        background-color: black;
      }

      .calendar .month {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
      }

      .calendar .month__label {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 28px;
        border: 1px solid black;
        font-size: 20px;
        writing-mode: vertical-lr;
        text-orientation: upright;
        letter-spacing: 5px;
        align-self: stretch;
        margin-right: 10px;
      }

      .calendar .month__container {
      }

      .calendar .week {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        height: 25px;
        margin-top: 7px;
      }

      <%# The first week of the year should have no margin %>
      .calendar .month:nth-child(2) .week:first-child {
        margin-top: 0;
      }

      .calendar .days {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
      }

      .calendar .day {
        width: 28px;
        height: 28px;
        line-height: 28px;
        text-align: center;
        border: 1px solid black;
        border-radius: 2px;
        margin-right: 7px;
        box-sizing: border-box;
      }

      .calendar .day--today {
        background-color: #FFAA00;
      }

      <%# Color Sat/Sun a different color %>
      .calendar .day[data-weekday='0'], .calendar .day[data-weekday='6'] {
        background-color: #FFFFCC;
      }

      .calendar .desc {
        margin-left: 10px;
      }
    </style>

    <!-- JS -->
    <script>
      const highlightToday = () => {
        // Find today
        let ymd = (new Date).toISOString().split('T')[0];
        const cell = document.querySelector(`.day[data-date='${ymd}']`)

        if (!cell) {
          return;
        }

        // Highlight today
        cell.classList.add('day--today');
      }

      // Execute on page load
      document.addEventListener('DOMContentLoaded', highlightToday);
    </script>

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-93556188-1', 'auto');
      ga('send', 'pageview');

    </script>
  </head>
  <body>
    <% year = calendar[1][0].first.year %>

    <h1 class='heading'>Weekend Calendar</h1>
    <h2 class='subheading'><%= year %></h2>

    <section class='calendar'>
      <%# Header %>
      <div class='header'>
        <% calendar[0][0].each do |day| %>
        <div class='day'>
          <%= Date::ABBR_DAYNAMES[day.wday][0].upcase %>
        </div>
        <% end %>
      </div>

      <%# Content %>
      <% calendar.each_with_index do |month, idx| %>
        <div class='month' data-month='<%= idx+1 %>'>
          <div class='month__label'><%=  Date::ABBR_MONTHNAMES[idx+1].upcase %></div>
          <div class='month__container'>
            <% month.each do |week| %>
            <div class='week'>
              <div class='days'>
                <% week.each do |day| %>
                  <div class='day' data-date='<%= day.strftime('%Y-%m-%d') %>' data-weekday='<%= day.wday %>'>
                    <%= day.day %>
                  </div>
                <% end %>
              </div>
              <span class='desc'><%= nil %></span>
            </div>
            <% end %>
          </div>
        </div>
      <% end %>

      <%# Footer - just repeate the header %>
      <div class='header'>
        <% calendar[0][0].each do |day| %>
        <div class='day'>
          <%= Date::ABBR_DAYNAMES[day.wday][0].upcase %>
        </div>
        <% end %>
      </div>
    </section>
  </body>
</html>
